[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

@font-face {
    font-family: Roboto;
    src: url(/gmot_master/static/src/font/Roboto-Regular.ttf)
}

html,body {
    height: 100%;
}

body {
    overflow: hidden;
    color: #444;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    background-color: #ecf0f1;
}

.table {
    color: #444;
}

.table thead a {
    color: #444;
}

.table thead .fa {
    margin-left: 4px;
}

.btn {
    font-size: 14px;
}

.datepicker {
    font-size: 14px;
}

.form-control {
    font-size: 14px;
    border-radius: 0;
}

.form-control:focus {
    box-shadow: none;
    border-color: #008dca;
}

.ms-options-wrap > button:focus, .ms-options-wrap > button {
    width: 640px;
    overflow: hidden;
}

.input-group > .input-group-append > .btn,
.input-group > .input-group-append > .input-group-text,
.input-group > .input-group-prepend:first-child > .btn:not(:first-child),
.input-group > .input-group-prepend:first-child > .input-group-text:not(:first-child),
.input-group > .input-group-prepend:not(:first-child) > .btn,
.input-group > .input-group-prepend:not(:first-child) > .input-group-text {
    border-radius: 0;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #f7f7f9;
}

.navbar-dark {
    height: 50px;
}

.navbar-dark.bg-blue {
    background-color: #243742;
    border-bottom: 1px solid #121c21;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.navbar-dark .navbar-brand {
    font-size: 22px;
    font-weight: 500;
    line-height: 46px;
    margin-right: 20px;
}

#wrapper {
    position: relative;
    height: 100%;
}

#sidebar {
    position: fixed;
    top: 50px;
    bottom: 0;
    width: 220px;
    background-color: #121c21;
}

.sidemenu {
    margin: 20px 0;
    padding: 0;
    list-style: none;
}

.sidemenu li {
    margin: 0;
}

.sidemenu li img {
    width: 30px;
    height: 30px;
    border-radius: 2px;
    margin-right: 10px;
}

.sidemenu li>a {
    display: block;
    padding: 10px 15px;
    color: #dee2e6;
    text-decoration: none;
    font-weight: 300;
}

.sidemenu li.active>a {
    color: #fff !important;
    background-color: #5d8da8 !important;
}

.sidemenu li:hover>a {
    background-color: #213038;
}

#content {
    position: relative;
    top: 0;
    left: 220px;
    width: calc(100% - 220px);
    height: 100%;
    overflow-y: auto;
}

.table .row-active {
    background-color: #fafab3;
}

.table .row-active .fa {
    color: #28a745;
}

.daterange-picker {
    padding: 4px 10px;
    color: #495057;
    font-size: .875rem;
    border-radius: 4px;
    border: 1px solid #ddd;
}

.highcharts-credits {
    display: none;
    visibility: hidden;
}
